<!DOCTYPE html>

<html>
   <head>
      <title>Timestamp Microservice | Backend practice</title>
      <link rel="shortcut icon" href="icon.png" type="image/x-icon"/>
      <link href="console.css" rel="stylesheet" type="text/css">
   </head>

   <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li><a href="api/1990-06-21">[project url]/api/1990-06-21</a></li>
        <li><a href="api/645926400000">[project url]/api/645926400000</a></li>
      </ul>

      <h3>Example Output:</h3>
      <code>{"unix":645926400000, "utc":"Thu, 21 Jun 1990 00:00:00 GMT"}</code>
    </div>
    <footer>
      <p>Develped by Gabit</p>
    </footer>
  </body>
</html>
